
/* CSS Document */
#display{
	width:660px;
	/*float:left;*/
	height:550px;
	/*margin:30px 0px 6px 40px;*/
	margin:0px auto;
	position:relative;
}
#subMenu{
	height:54px;
	width:100%;
	position:absolute;
	top:-40px;
	/*background:url(../image/submenu.png) top center no-repeat;*/
	display:none;
}
.subMenuItem{
	padding:12px 20px;
}
.subMenuItem li{
	float:right;
	margin:0px 10px;
	cursor:default;
}
.subMenuItem li.now{
	color:#F60;
	font-weight:bold;
}
.subMenuItem li a:hover{
	color:#f60;
}

#listDetail{
	height:44px;
	width:98%;
	padding:6px 0px;
	padding-left:10px;
	padding-right:8px;
	background:url(../image/submenu.png) top center no-repeat;
	text-align:center;
	/*display:none;*/
}
#vcrDisp{
	height:464px;
	width:656px;
	background:url(../image/display.png) top right no-repeat;
	position:relative;
}
#ckplayer_a11{
	position:absolute;
	top:5px;
	left:6px;
	background:#FFF;
}

#leftCont{
	width:250px;
	float:left;
	height:550px;
	margin:0px 40px 6px 0px;
	position:relative;
}


#dispTopTxt{
	height:22px;
	font-size:1.1em;
	font-weight:bold;
	letter-spacing:0.3em;
}
.subMenuDown,.subMenuUp{
	float:left;
	width:40px;
	height:19px;
	background:url(../image/submenuDisplay.png) top center;
}
.subMenuUp{
	background:url(../image/submenuDisplay.png) left -19px;
}

#listImg{
	width:250px;
	/*float:left;*/
	height:520px;
	margin:10px 40px 6px 0px;
	background:url(../image/list.png) top center no-repeat;
	position:relative;
}
.list_content{
	height:450px;
	width:190px;
	top:30px;
	left:20px;
	position:absolute;
	/*background:#6C9;*/
	
	overflow:hidden;
}
ul.img_show{
	float:left;
	width:154px;
}
ul.img_show li{
	width:150px;
	height:100px;
	background:#000;
	color: #FFF;
	margin:10px 2px;
	padding:0px;
	text-align:center;
}
ul.txt_show{
	float:left;
	width:20px;
}
ul.txt_show li{
	width:20px;
	height:100px;
	/*background:#6C9;
	color: #FFF;*/
	color:#F90;
	margin:10px 2px;
	padding:0px;
	text-align:center;
}
ul.list_icon{
	position:absolute;
	width:16px;
	top:130px;
	right:10px;
}
ul.list_icon li{
	width:15px;
	height:15px;
	background: url(../image/listNum.png) no-repeat center center;
	margin:10px 0px;
	padding:0px;
}
ul.list_icon li.current{
	background: url(../image/listCurrent.png) no-repeat center center;
}
#prev{
	position:absolute;
	top:4px;
	left:112px;
}
#prev.ck{
	top:5px;
	left:114px;
}
#next{
	position:absolute;
	left:112px;
	bottom:4px;
}
#next.ck{
	left:111px;
	bottom:5px;
}

