.ui-datepicker .ui-datepicker-title select {font-size:1.0em; margin:1px 0; }    
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}    
.ui-datepicker select.ui-datepicker-month,    
.ui-datepicker select.ui-datepicker-year { width: 35%;/*原值35%*/}    
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: left; }    
  
/* 控制字体大小 */   
.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div {font-size:1em}   
  
