
/* CSS Document */

/*顶部学校logo及继续教育学院Logo*/
#top{
	background:url(../image/topDiwen.png) top left repeat-x;
	width:100%;
	position:relative;
	height:160px;
	z-index:1010;}
#logoWaiKuang{
	width:1002px;
	height:100%;
	position:relative;
	margin:0px auto;
}
#xb{
	width:195px;
	height:95px;
	top:18px;
	left:30px;
	position:absolute;
	background:url(../image/xiaobiao.png) top left no-repeat;
}

#aeclogo{
	width:433px;
	height:97px;
	top:10px;
	right:40px;
	position:absolute;
	background:url(../image/logo1.png) top left no-repeat;
}
#address{
	line-height:22px;
	top:8px;
	right:90px;
	position:absolute;

}
/*主菜单*/
#mainmenubg{
	width:100%;
	height:61px;
	position:absolute;
	bottom:-25px;
	z-index:1020;
}
#mainmenu{
	width:1002px;
	height:61px;
	margin:0px auto;
	background:url(../image/mainmenuDiwen.png) center top no-repeat;
}
.Mmenu li{
	float:left;
	position:relative;
	font-size:14px;
	line-height:61px;
	margin-left:30px;
	cursor:default;
}
.Mmenu li.current{
	color:#3399FF;
	font-weight:bold;
}
.Mmenu li:hover{
	color: #06F;
}
.Mmenu li.last{
	margin-right:30px;}
.Mmenu a,.Mmenu a:link,.Mmenu a:visited,.Mmenu a:active{
	color:#666;
}
	/*子菜单*/
.subMenuDiv{
	display:none;
	width:222px;
	position:absolute;
	z-index:2000;
}
.subMenuTop{
	width:100%;
	height:14px;
	background:url(../image/menuBgTop.png) top center no-repeat;}
.subMenuDiv ul{
	padding:0px;
	margin:0px;
}	
.subMenuDiv ul a,.subMenuDiv ul a:link,.subMenuDiv ul a:visited,.subMenuDiv ul a:active{
	color:#666;
}
.subMenuLi,.subMenuLiLast{
	/*width:100%;*/
	width:202px;
	padding:0px;
	margin:0px;
	line-height:33px;
	background:url(../image/menuBgCont.png) bottom center no-repeat;
	padding:0px 10px;
	cursor:default;
}
.subMenuLiLast{
	line-height:28px;
	background:url(../image/menuBgCont.png) top center no-repeat;
}
.subMenuLi:hover,.subMenuLiLast:hover{
	color:#06F;}
.subMenuFoot{
	width:100%;
	height:8px;
	background:url(../image/menuBgFoot.png) bottom center no-repeat;}
